@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: #222;
  
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 900;
  margin-right: 20px;
}
.navbar {
  height: 60px;
  background-color: #1F2937;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #F9FAF8;
  font-size: 24px;
  
}

.navbar ul {
  display: flex;
  gap: 24px;
  list-style: none;
  
}

.navbar a:hover {
  color: rgb(64, 64, 245);
}

.container {
max-width: 1100px;
margin: 0 auto;
padding: 8px 30px;
}

.header {
  min-height: 400px;
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  
}

.header img {
width: 640px;
height: 310px;
border-radius: 8px;
}

.header h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.header button {
 
  background-color: #1b6ff8;
  padding: 8px 30px;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
}

.section {
  text-align: center;
  background-color: rgb(250, 248, 248);
  min-height: 300px;
 padding: 20px 40px;
}

.cards {
  display: flex;
 justify-content: space-between;
}

.card {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
}

.square {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  border: 4px solid rgb(64, 64, 245);
  
}
.section .container h3 {
  padding-bottom: 20px;
  font-size: 36px;
  color: #1F2937;
  font-weight: 700;
}
.quote {

display: flex;
justify-content: center;
align-items: center;
text-align: center;
  background-color: #E5E7EB;
  min-height: 300px;
 padding: 20px 40px;
}

.quote p {
  font-size: 32px;
  font-style: italic;
}

.quote_box {
  width: 1000px;
 padding: 80px;
}

.quote_box h3 {
  text-align: end;
}

.action {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action_box {
  min-width: 900px;
  height: 120px;
  background-color: #3882F6;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 60px;
}

.action_box button {
  background-color: transparent;
  color: white;
  padding: 6px 24px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid white;
}